@import 'reset'

@import 'var'

@import 'mixins'

@import 'fonts'

html, body
	width 100vw
	width 100%
	min-width 320px
	overflow-x hidden
body
	font-family: $main-font
	color $dark
	background-color #f8f8f8
	font-weight 400
	width 100vw
	line-height 1

@import 'ui'
