
.external-chat
    @import 'reset'
   
    font-weight 400
    line-height 1
    font-size: 16px
    line-height: 1
    overflow-x: hidden
    opacity: 1
    text-align: left
    box-sizing: border-box
    vertical-align: top
    height: 100%
    margin: 0
    padding: 0
    border: none
    -webkit-overflow-scrolling: touch
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px
    font-weight: 400
    white-space: initial
    word-break: initial
    border-color: #000000
    -webkit-text-size-adjust: none

    @import 'var'

    @import 'mixins'

    @import 'fonts'

    font-family: $main-font
    color $dark
    
    @import 'ui'
