font-face(fontFamily, fileName, fontWeight = normal, fontStyle = normal, path = '~fonts/',svgLabel='')
	@font-face
		font-family fontFamily
		src url(path + fileName + '.ttf') format("truetype")
		font-weight fontWeight
		font-style fontStyle