$blue = #00cfe8
$indigo = #6610f2
$purple = #7367f0
$pink = #e83e8c
$red = #ea5455
$orange = #ff9f43
$yellow = #ffc107
$green = #28c76f
$teal = #20c997
$cyan = #17a2b8
$white = #fff
$gray = #b8c2cc
$gray-dark = #1e1e1e

$primary = $purple
$secondary = #82868b
$success = $green
$info = $blue
$warning = $orange
$danger = $red
$light = #f6f6f6
$dark = #4b4b4b

$main-font = 'Montserrat', sans-serif

$laptop()
    @media (max-width: 1300px)
        {block}
$tablet()
    @media (max-width: 1023px)
        {block}
$phone()
    @media (max-width: 767px)
        {block}
$small()
    @media (max-width: 360px)
        {block}
